@model IEnumerable<FirstMVCApp.Models.MembershipModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMembershipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMembershipType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMembership">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMembership">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMembership">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
